{% extends "blog/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="title text-center">
          <h1 class="display-5 text-danger">Mohammad Mohammadi</h1>
          <h3>BackEnd Developer</h3>
          <hr />
        </div>

        <!-- summary section -->
        <div class="summary text-center">
          <h2 class="text-center">Summary & Skills</h2>
          <p class="text-primary">> Python / Django Developer
            <br>
            > familiar with ( HTML, CSS, JS / GIT / PostgreSQL )
            <br>
            > participate in TeamWork and always learning New Features
          </p>
        </div>
        <div class="container text-center">
          <div class="h2">My GitHub Account</div>
          <p><a href="https://github.com/Mohammad-MH1" class="btn btn-danger">Find my codes in here</a></p>

        </div>

        <!-- work experience section -->


      </div>
    </div>
</div>


{% endblock content %}

{% block navbar %}
    <a class="navbar-brand mr-4" href="{% url 'blog-about' %}"><i class="bi bi-file-earmark-person"></i> About page</a>
{% endblock navbar %}