{% extends "blog/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-warning" type="submit">Login</button>
                <button class="btn btn-outline-secondary ml-2" type="submit"><a href="{% url 'password_reset' %}">Forgot Password?</a></button>

            </div>

        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>

    </div>

{% endblock content %}

{% block navbar %}
    <a class="navbar-brand mr-4" href="{% url 'login' %}"><i class="bi bi-door-closed"></i> Login</a>
{% endblock navbar %}