{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-warning" type="submit">Sign Up</button>

            </div>

        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>

    </div>

{% endblock content %}

{% block navbar %}
    <a class="navbar-brand mr-4" href="{% url 'register' %}"><i class="bi bi-file-person"></i> Registration</a>
{% endblock navbar %}

